

.table{
    display:flex;
    flex-direction:column;
    width:170vh;
    text-align: center;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 5px;
    padding:1%;
    margin-top:1%;
    margin-bottom:1%;
}

.headerContents{
    color:#ffffff;
    display:flex;
    flex:1;
    background-color:#000000;
    padding-top:1%;
    padding-bottom:1%;
}
.headertitles{
    flex:1;
}

.Contents{
    display:flex;
    flex-direction:column;
    color: rgba(117, 117, 117, 1);

}
.Content-item{
    display:flex;
    flex:1;
    margin:1%;
}