.Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(117, 117, 117, 1);

}
.Canvas{
    flex:1;
    margin-left: 5%;
    
}

.HeaderInfo{
    height:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;

}

.readMore{
    justify-content: center;
    align-items: center;
    display: flex;
    margin:10px;
}

.secondParagraph{
    width:  240vh;
    height:80vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(21,25,29,1);
    color: rgba(255, 255, 255, 1);
}

.title{
    margin-left:140px;
    margin-right:340px;
}
