.Container{
    display: flex;
    flex-direction: column;
}

.Header{
    height:80vh;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 5px;
    width:210vh;
    display: flex;
    margin:1%;
    flex:1;
}

.tableContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding:1%;
    min-width:210vh;
    min-height:50vh;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 5px;
    margin-bottom: 1%;
}

.body{
    display:flex;
    flex-wrap: wrap;
}

.video{
    width:100%;
    height:100%;
}

.child{
    width:300px;
    height:300px;
    margin:1%;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 5px;
}